# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# SQLite database files
*.db
*.sqlite3

# Environment variables file
.env

# Nginx logs (if applicable)
logs/
