{% extends "base.html" %}

{% block title %}Recipes - Zuperb{% endblock %}
{% block header_title %}Recipes{% endblock %}

{% block content %}
<div class="centered-card">
    <h2>{{ recipes[0].name }}</h2> <!-- Heading Centered -->
    <h3>Serves: {{ recipes[0].serves }}</h3>

    <h4>Ingredients:</h4>
    <ul>
        {% for ingredient in recipes[0].ingredients %}
        <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>

    <h4>Instructions:</h4>
    <ol>
        {% for step in recipes[0].instructions %}
        <li>{{ step }}</li>
        {% endfor %}
    </ol>
</div>
{% endblock %}
