{% extends "base.html" %}

{% block title %}Visitors - Zuperb{% endblock %}
{% block header_title %}Visitors{% endblock %}

{% block content %}
<div style="width: 100%; display: flex; justify-content: center; flex-direction: column;">
    <table>
        <thead>
            <tr>
                <th>Visitor</th>
                <th>When</th>
                <th>Page</th>
                <th>Device</th>
            </tr>
        </thead>
        <tbody>
            {% for log in log_data %}
            <tr>
                <td>{{ log.funny_name }}</td>
                <td>{{ log.when }}</td>
                <td>{{ log.page_visited }}</td>
                <td>{{ log.device }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Pagination Section -->
    <div class="pagination">
        <a href="?page={{ previous_page }}" class="{% if not previous_page %}hidden{% endif %}">Previous</a>
        <a href="?page={{ next_page }}" class="{% if not next_page %}hidden{% endif %}">Next</a>
    </div>
</div>
{% endblock %}
