<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zuperb Visitors</title>
    <link rel="stylesheet" href="/static/css/stats.css">
    <link rel="icon" href="/static/images/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/static/images/favicon/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/static/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/images/favicon/apple-touch-icon.png">
    <link rel="icon" href="/static/images/favicon/android-chrome-192x192.png" sizes="192x192" type="image/png">
    <link rel="icon" href="/static/images/favicon/android-chrome-512x512.png" sizes="512x512" type="image/png">
</head>
<body>
    <div class="container">
        <h1>Zuperb Visitors</h1>
        <table>
            <thead>
                <tr>
                    <th>Visitor</th>
                    <th>When</th>
                    <th>Place</th>
                    <th>Gadget</th>
                </tr>
            </thead>
            <tbody>
                {% for log in log_data %}
                <tr>
                    <td>{{ log.funny_name }}</td>
                    <td>{{ log.when }}</td>
                    <td>{{ log.page_visited }}</td>
                    <td>{{ log.device }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Pagination Links -->
        <div class="pagination">
            {% if previous_page %}
            <a href="?page={{ previous_page }}">Previous</a>
            {% endif %}
            {% if next_page %}
            <a href="?page={{ next_page }}">Next</a>
            {% endif %}
        </div>

        <!-- Back to Home Link -->
        <div class="back-home">
            <a href="/">Back to Home</a>
        </div>
    </div>
</body>
</html>
